Mood-App/Info.plist
Mood-App/GoogleService-Info.plist
.DS_Store
Mood-App.xcodeproj/project.xcworkspace/xcuserdata/Manu.xcuserdatad/UserInterfaceState.xcuserstate
Mood-App.xcodeproj/project.xcworkspace/xcuserdata/Manu.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
